.buttons {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
    width: 100%; /* Растягиваем на всю ширину */
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    flex: 1; /* Растягиваем кнопки на всю доступную ширину */
    text-align: center; /* Центрируем текст */
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; /* Заглавные буквы */
    letter-spacing: 1px;
}

.buttons button:hover {
    transform: scale(1.05);
}

.buttons button:active {
    transform: scale(0.95);
}

.buttons .encrypt {
    background-color: #112240; /* Тёмно-синий фон */
    border: 1px solid #64ffda; /* Бирюзовая граница */
    color: #64ffda; /* Бирюзовый текст */
}

.buttons .encrypt:hover {
    background: linear-gradient(135deg, #0bacc2, #64ffda); /* Градиентный фон при наведении */
    color: #0a192f; /* Тёмно-синий текст при наведении */
    box-shadow: 0 0 10px rgba(100, 255, 218, 0.5); /* Бирюзовое свечение */
}

.buttons .decrypt {
    background-color: #112240; /* Тёмно-синий фон */
    border: 1px solid #ff6b6b; /* Красная граница */
    color: #ff6b6b; /* Красный текст */
}

.buttons .decrypt:hover {
    background: linear-gradient(135deg, #ff6b6b, #ff3b3b); /* Градиентный фон при наведении */
    color: #112240; /* Тёмно-синий текст при наведении */
    box-shadow: 0 0 10px rgba(255, 107, 107, 0.5); /* Красное свечение */
}